name: Build and Publish Docker Image

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Make repo owner lowercase
        run: echo "REPO_OWNER_LC=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
        
      - name: Log into GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PACKAGE_DEPLOY_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./crosscompile
          file: crosscompile/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ env.REPO_OWNER_LC }}/macos-crosscompile:${{ github.sha }}
            ghcr.io/${{ env.REPO_OWNER_LC }}/macos-crosscompile:latest
